* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgb(2, 143, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100vw;
    max-width: 60vw;
    min-height: 100vh;
    background: white;
    margin: 2vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 2vh 4vh rgba(128, 128, 128, 0.37);
}

.container .left_Side {
    position: relative;
    background: rgb(158, 160, 158);
    padding: 3vh;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.836);
}

.profileText .picBox {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
}


.container .right_Side {
    position: relative;
    background: rgb(110, 109, 109);
    padding: 3vh;
}

#shrekky {
    position: relative;
    align-self: center;
    right: 6vw;
    width: 70vh;
}